<div class="content">
  <div class="container-fluid">
    <div class="row" style="    padding-top: 85px;">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">subtitles</i>
            </div>
            <h4 class="card-title">Group Name</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input type="text" class="form-control datetimepicker" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">format_list_numbered</i>
            </div>
            <h4 class="card-title">Minimum Members</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input
                type="number"
                min="1"
                max="100"
                class="form-control datetimepicker"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">format_list_numbered</i>
            </div>
            <h4 class="card-title">Maximum Members</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input
                type="number"
                min="1"
                max="100"
                class="form-control datetimepicker"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">today</i>
            </div>
            <h4 class="card-title">Maturity</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                value="option1"
              />
              I'm Mature
              <span class="check"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">library_books</i>
            </div>
            <h4 class="card-title">Expiration Date</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input type="date" class="form-control datepicker" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Type</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="option1"
                    checked
                  />
                  Type 2
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="option2"
                  />Type 1
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Terms & Conditions</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <textarea
              id="w3mission"
              cols="50"
              rows="15"
              placeholder="Type her Terms and Conditions..."
              style="overflow-y: scroll;"
            >
            </textarea>
            <br /><br />
            <input type="checkbox" name="terms" id="terms" /> I Agree Terms &
            Coditions
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <div class="col-md-4"></div>
      <!-- end col-md-12 -->
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-success">
          <span class="btn-label">
            <i class="material-icons">check</i>
          </span>
          Create Group
        </button>
      </div>
    </div>
  </div>
</div>
