  <div class="content-dash">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success card-header-icon card-dash">
                <div class="card-icon">
                  <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Global Sales by Top Locations</h4>
              </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                          <div class="table-dash ">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>Group Name</td>
                                  <td class="text-right">
                                    Capacity
                                  </td>
                                  <td class="text-right">
                                    Expiration date
                                  </td>
                                </tr>
                                <tr>
                                  <td>Group1</td>
                                  <td class="text-right">
                                    15
                                  </td>
                                  <td class="text-right">
                                    22/3/2020
                                  </td>
                                </tr>
                                <tr>
                                  <td>Group2</td>
                                  <td class="text-right">
                                    5
                                  </td>
                                  <td class="text-right">
                                    22/4/2020
                                  </td>
                                </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- <button type="button" class="btn btn-round btn-default dropdown-toggle btn-link" data-toggle="dropdown">
7 days
</button> -->

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <p class="card-category">GroupName Capacity</p>
              <h3 class="card-title">18</h3><br>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <p class="card-category">Group Name</p>
              <h3 class="card-title">Name 1</h3><br>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <p class="card-category">Create New Group</p>
              <input
                type="text"
                class="form-control"
                placeholder="group Name..."
                style="width:40%"
              /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
